{{#unless className}}
<label class="am-checkbox">
  <input type="$checkbox$" value="" data-am-ucheck> title
</label>
{{/unless}}
{{#ifCond className '==' 'checked'}}
<label class="am-checkbox">
  <input type="$checkbox$" value="" data-am-ucheck checked> checked
</label>
{{/ifCond}}
{{#ifCond className '==' 'disabled'}}
<label class="am-checkbox">
  <input type="$checkbox$" value="" data-am-ucheck disabled> disabled
</label>
{{/ifCond}}