<table class="am-table{{#if className}} am-table-{{className}}{{/if}}$ am-table-hover$">
  <thead>
    <tr>
      <th>$表格标题$</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>$表格内容$</td>
    </tr>
    <tr class="am-active">
      <td>$表格内容$</td>
    </tr>
  </tbody>
</table>