{{#unless className}}
<div class="am-dropdown" data-am-dropdown>
<button class="am-btn am-btn-primary am-dropdown-toggle" data-am-dropdown-toggle>$下拉列表$ <span class="am-icon-caret-down"></span></button>
  <ul class="am-dropdown-content">
    <li class="am-dropdown-header">$标题$</li>
    <li><a href="#">$li$</a></li>
    <li class="am-active"><a href="#">$active li$</a></li>
    <li class="am-disabled"><a href="#">$disabled li$</a></li>
    <li class="am-divider"></li>
  </ul>
</div>
{{/unless}}
{{#ifCond className '==' 'up'}}
<div class="am-dropdown am-dropdown-up" data-am-dropdown>
  <button class="am-btn am-btn-danger am-dropdown-toggle" data-am-dropdown-toggle>$上拉列表$ <span class="am-icon-caret-up"></span></button>
  <ul class="am-dropdown-content">
    <li class="am-dropdown-header">$标题$</li>
    <li><a href="#">$li$</a></li>
    <li class="am-active"><a href="#">$active li$</a></li>
    <li class="am-disabled"><a href="#">$disabled li$</a></li>
    <li class="am-divider"></li>
  </ul>
</div>
{{/ifCond}}
{{#ifCond className '==' 'content'}}
<div class="am-dropdown" data-am-dropdown>
  <button class="am-btn am-btn-success am-dropdown-toggle">$Dropdown$ <span class="am-icon-caret-down"></span></button>
  <div class="am-dropdown-content">
    $内容$
  </div>
</div>
{{/ifCond}}
{{#ifCond className '==' 'justify'}}
<div id="$doc-dropdown-justify$">
  <div class="am-dropdown" data-am-dropdown="{justify: '#$doc-dropdown-justify$'}">
    <button class="am-btn am-btn-success am-dropdown-toggle">$宽度适应下拉$<span class="am-icon-caret-down"></span></button>
    <div class="am-dropdown-content">
      <h2>$标题$</h2>
      <p>
        $内容$
      </p>
    </div>
  </div>
</div>
{{/ifCond}}