{{#unless className}}
<select data-am-selected>
  <option value="$a$">$title$</option>
  <option value="$a$" selected>$selected$</option>
</select>
{{/unless}}
{{#ifCond className '==' 'multiple'}}
<select multiple data-am-selected>
  <option value="$a$">$title$</option>
  <option value="$a$" selected>$selected$</option>
</select>
{{/ifCond}}
{{#ifCond className '==' 'group'}}
<select multiple data-am-selected>
  <optgroup label="group1">
    <option value="$a$">$title$</option>
    <option value="$a$" selected>$selected$</option>
  </optgroup>
  <optgroup label="group2">
    <option value="$a$">$title$</option>
    <option value="$a$" selected>$selected$</option>
  </optgroup>
</select>
{{/ifCond}}