<!-- 按钮触发器 -->
<button class="am-btn am-btn-primary" data-am-offcanvas="{target: '$#your-id$'}">$点击显示侧边栏$</button>
<!-- 侧边栏内容 -->
<div id="$your-id$" class="am-offcanvas">
  <div class="am-offcanvas-bar{{#if className}} am-offcanvas-bar-{{className}}{{/if}}">
    <div class="am-offcanvas-content">
    <!-- 你的内容 -->
    $内容$
    </div>
  </div>
</div>