<div class="am-input-group{{#if className}} am-input-group-{{className}}{{/if}}">
  {{#ifCond className '==' 'btn'}}
  <span class="am-input-group-btn">
    <button class="am-btn am-btn-default" type="button">$<span class="am-icon-search"></span>$ </button>
  </span>
  {{else}}
  <span class="am-input-group-label">    
    <i class="am-icon-user"></i>    
  </span>
  <input type="text" class="am-form-field" placeholder="$Username$">
  {{/ifCond}}
</div>