{{!--{{#each options}}
{{#ifCond this '==' 'horizontal'}}
<!-- form 结合 grid 使用 -->
<form class="am-form am-form-horizontal">
  <div class="am-form-group">
    <label for="" class="am-u-sm-$2$ am-form-label">电子邮件</label>
    <div class="am-u-sm-10">
      <input type="email" id="" placeholder="输入你的电子邮件" />
    </div>
  </div>

  <div class="am-form-group">
    <div class="am-u-sm-$10$ am-u-sm-offset-$2$">
      <button type="submit" class="am-btn am-btn-default">提交登入</button>
    </div>
  </div>
</form>
{{else}}
<form action="$END$" method="POST" role="form" class="am-form{{#ifCond this '==' 'inline'}} am-form-inline{{/ifCond}}">
  <legend>表单标题</legend>

  <div class="am-form-group">
    <label for="">姓名</label>
    <input type="text" id="" placeholder="姓名">
  </div>

  <button type="submit" class="am-btn am-btn-primary">提交</button>
</form>
{{/ifCond}}
{{/each}} --}}

<form action="$END$" method="POST" role="form" class="am-form{{#if className}} am-form-{{className}}{{/if}}">
  {{#ifCond className '==' 'horizontal'}}
  <!-- form 结合 grid 使用 -->
  <div class="am-form-group">
    <label for="" class="am-u-sm-$2$ am-form-label">电子邮件</label>
    <div class="am-u-sm-10">
      <input type="email" id="" placeholder="输入你的电子邮件" />
    </div>
  </div>

  <div class="am-form-group">
    <div class="am-u-sm-$10$ am-u-sm-offset-$2$">
      <button type="submit" class="am-btn am-btn-default">提交登入</button>
    </div>
  </div>
  {{else}}
  <legend>表单标题</legend>

  <div class="am-form-group">
    <label for="">姓名</label>
    <input type="text" id="" placeholder="姓名">
  </div>

  <button type="submit" class="am-btn am-btn-primary">提交</button>
  {{/ifCond}}  
</form>